.menu-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu__item {
    height: 5vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid;
    flex-shrink: 0;
}

.menu__item:first-child {
    border-top: none;
}

.menu__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1vh;
    letter-spacing: -0.02em;
    gap: 0.25vh;
}

.menu__item-link:hover {
    color: inherit;
}

.menu__item-link:focus:not(:focus-visible) {
    color: inherit;
}

.menu__item-desc {
    font-size: 0.8vh;
    font-weight: 500;
    opacity: 0.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.menu__item.is-active .menu__item-link {
    font-weight: 900;
    opacity: 1;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.marquee__inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: fit-content;
    will-change: transform;
}

.marquee__part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.marquee span {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1vh;
    line-height: 1;
    padding: 0 0.5vw;
}

.marquee__img {
    width: 60px;
    height: 2vh;
    margin: 2em 1vw;
    padding: 0;
    border-radius: 50px;
    background-size: cover;
    background-position: 50% 50%;
}